<launch>
  <arg name="gui" default="false" />
  <arg name="output" default="screen" />
  <arg name="model" default="$(find human_bio_urdf)/urdf/human_bio.urdf" />

  <!-- Robot state & model -->
  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <rosparam command="load" file="$(find human_bio_urdf)/config/default_config.yaml" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" 
    type="joint_state_publisher" output="$(arg output)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher" output="$(arg output)"/>
</launch>
